body {
  background-color: $primary-white-color;
  color: $primary-text-color;

  font-family: $main-font;
  letter-spacing: -0.003em;
  font-size: 14px;
  line-height: 1.71;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 3px solid red; */
}
