.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  &-label {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  &-icon {
    display: inline-block;

    width: 15px;
    height: 15px;
    border: 2px solid $title-text-color;
    border-radius: 4px;
    margin-right: 10px;
  }
  &:checked + &-icon {
    background-color: $accent-color;
    border-color: $accent-color;
    background-image: url("../images/check.svg");
    background-size: contain;
    background-origin: border-box;
  }
  &:checked ~ .label-text {
    transform: translateX(15px);
  }
}

.form-list {
  padding: 0;
}

.link-agreement {
  margin-left: 4px;
}

.label-text {
  transition: transform 250ms linear;
}
